.App {
  display: flex;
  text-align: center;
  justify-content: center;  
  height: 100vh;
  width: 100vw;
  font-family: 'Rubik', sans-serif;
  background: linear-gradient(
    135deg,
    rgb(137, 180, 64)0%,
    rgb(137, 180, 64)50%,
    rgb(190, 11, 71)50%,
    rgba(190,11,71)100%
  );


}


